.custom-background{

    background-image: url('https://wallpaperaccess.com/full/622066.jpg');

    background-size: auto;
    background-position: stretch;
}

.asameHusna{
    width: 40%;
    height: 50%;
    margin-bottom: 15%;
}
